@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* Primario */

$primary: hsl(31, 77%, 52%);
$secondary: hsl(184, 100%, 22%);
$info: hsl(179, 100%, 13%);

/* Neutral */

$warning: hsla(0, 0%, 100%, 0.75);
$light: hsl(0, 0%, 95%);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
}

/* Contenedor */
.container {
  width: 90%;
}

/* Tarjetas */
.card {
  padding: 32px;
  width: 20%;
}

/* Responsive de 992px de las tarjetas */
@media (max-width: 992px) {
  .card {
    width: 50%;
  }
}

/* Responsive de 576px de las tarjetas */
@media (max-width: 576px) {
  .card {
    width: 80%;
  }
}

/* Tarjeta 1 */
.card-1-color {
  border-radius: 8px 0 0 8px;
}

/* Tarjeta 3 */
.card-3-color {
  border-radius: 0 8px 8px 0;
}

@media (max-width: 992px) {
  .card-1-color {
    border-radius: 8px 8px 0 0;
  }

  .card-3-color {
    border-radius: 0 0 8px 8px;
  }
}

/* Imagenes */
.imagen {
  width: 50px;
}

/* Titulos de cada tarjeta */
.titulo {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2.2em;
}

/* Texto de cada tarjeta */
.texto {
  font-size: 0.8em;
  line-height: 1.6;
  height: 180px;
}

@media (max-width: 992px) {
  .texto {
    height: 120px;
  }
}

/* Boton de cada tarjeta */
.boton {
  font-size: 0.8em;
  padding: 8px 25px;
  width: 80%;
}

/* Hover de los botones */
.boton:hover {
  background: transparent;
  color: $warning;
  transition: 0.3s;
}

/* Boton 1 */
.boton-text-1 {
  color: $primary;
}

/* Boton 2 */
.boton-text-2 {
  color: $secondary;
}

/* Boton 3 */
.boton-text-3 {
  color: $info;
}

/* Otro */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
